.per-page-button {
  background: none;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Dropdown Content (Hidden by Default) */
.per-page-menu {
  position: absolute;
  display: flex;
  top: 8px;
  left: 40px;
  z-index: 1;
  border-radius: 3px;
  background: #444;
  border: 1px solid black;
  animation: show-menu 0.25s ease-in;
}
.per-page-menu__button {
  font-weight: bold;
  padding: 5px 20px;
  background: #444;
  color: white;
  border-radius: 3px;
}
.per-page-menu__button:hover {
  background: #333;
}

@keyframes show-menu {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
